@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: rgb(23, 23, 23);
}

.container {
    margin: auto;
    max-width: 700px;
    height: 100vh;
    .box {
        height: 100%;
    }
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: rgb(255, 255, 255);
    height: 10%;
    .logo {
        width: 50%;
        display: flex;
        justify-content: left;
        align-items: center;
        a {
            text-decoration: none;
            h1 {
                color: rgb(32, 99, 216);
                letter-spacing: 2px;
            }
        }
    }
    .menu {
        width: 50%;
        display: flex;
        justify-content: right;
        align-items: center;
        a {
            margin: 0px 20px;
            i {
                svg {
                    color: rgb(58, 58, 58);
                    width: 22px;
                }
            }
        }
    }
}

main {
    overflow: auto;
    height: 90%;
}

.notifyroom {
    background: rgb(176, 176, 176);
    padding: 5px;
    a {
        margin: 10px;
        text-decoration: none;
        color: rgb(0, 45, 93);
    }
    #com {
        color: rgb(0, 106, 80);
    }
    .notifybox {
        border-radius: 20px;
        padding: 5px;
        background: rgb(255, 255, 255);
        display: flex;
        justify-content: left;
        align-items: center;
        i {
            margin: 0px 10px;
            width: 70px;
            padding: 15px;
            border-radius: 50%;
            svg {
                width: 100%;
            }
        }
    }
}