@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #171717;
}

.container {
  margin: auto;
  max-width: 700px;
  height: 100vh;
}

.container .box {
  height: 100%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  background: white;
  height: 10%;
}

header .logo {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo a {
  text-decoration: none;
}

header .logo a h1 {
  color: #2063d8;
  letter-spacing: 2px;
}

header .menu {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .menu a {
  margin: 0px 20px;
}

header .menu a i svg {
  color: #3a3a3a;
  width: 22px;
}

main {
  overflow: auto;
  height: 90%;
  background: #e4e4e4;
}

main .createpost {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .createpost a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  background: #fefefe;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}

main .createpost a svg {
  width: 7vmin;
  color: #3c3c3c;
}

main .createpost a h1 {
  text-align: center;
  font-size: 4.5vmin;
  color: #393939;
}

main .postroom {
  margin-top: 10px;
  padding: 5px;
  width: 100%;
  height: 100%;
}

main .postroom .postbox {
  padding: 1px;
  border-radius: 10px;
  width: 70%;
  margin: auto;
  border-top: 1px solid #459dac;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background: white;
  padding: 10px;
}

main .postroom .postbox .head {
  background: white;
  border-bottom: 2px solid #b8b8b8;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

main .postroom .postbox .head .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .postroom .postbox .head .info .userinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .postroom .postbox .head .info .userinfo img {
  margin: 5px 10px;
  width: 40px;
  border-radius: 50%;
}

main .postroom .postbox .head .info .userinfo p {
  font-size: 19px;
  color: #3f3f3f;
}

main .postroom .postbox .article p {
  padding: 10px;
  background: white;
  color: #414141;
  letter-spacing: 1px;
}

main .postroom .postbox .img {
  width: 100%;
}

main .postroom .postbox .img .imgbox {
  width: 100%;
}

main .postroom .postbox .img .imgbox img {
  width: 100%;
}

main .postroom .postbox .reactbox {
  padding: 5px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .postroom .postbox .reactbox a {
  text-decoration: none;
  width: 30%;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

main .postroom .postbox .reactbox .react {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  color: #4a4a4a;
}

main .postroom .postbox .reactbox .react .maincomment svg {
  color: #008f00;
}

main .postroom .postbox .reactbox .react p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80px;
  text-align: center;
}

main .postroom .postbox .reactbox .react p svg {
  text-align: center;
  width: 100%;
  color: #003b6f;
}

main .postroom .postbox .reactbox .react input {
  width: 50px;
  font-size: 17px;
  border: none;
  text-align: center;
}

main .postroom .postbox .commentbox {
  display: none;
  border-top: 1px solid #787878;
  padding: 10px;
}

main .postroom .postbox .commentbox .commenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
}

main .postroom .postbox .commentbox .commenter img {
  margin: 0px 10px;
  width: 50px;
  border-radius: 50%;
}

main .postroom .postbox .commentbox .commenter .reply {
  border-radius: 10px;
  padding: 5px;
  background-color: #d9f6ff;
}

main .postroom .postbox .commentbox .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .postroom .postbox .commentbox .input img {
  width: 50px;
  border-radius: 50%;
  background: #000;
}

main .postroom .postbox .commentbox .input form {
  text-align: center;
  width: 90%;
}

main .postroom .postbox .commentbox .input form #comment {
  width: 80%;
  border: none;
  padding: 10px;
  font-size: 20px;
  border-radius: 20px;
  background: #eaeaea;
  height: 40px;
}

main .postroom .postbox .commentbox .input form #submit {
  background: #a4cdff;
  border: none;
  font-size: 20px;
  height: 40px;
  border-radius: 10px;
  width: 15%;
}

@media screen and (max-width: 500px) {
  main {
    overflow: auto;
    height: 90%;
    background: #e4e4e4;
  }
  main .createpost {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .createpost a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    background: #fefefe;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
  }
  main .createpost a svg {
    width: 7vmin;
    color: #3c3c3c;
  }
  main .createpost a h1 {
    text-align: center;
    font-size: 4.5vmin;
    color: #393939;
  }
  main .postroom {
    padding: 5px;
    width: 100%;
    height: 100%;
  }
  main .postroom .postbox {
    padding: 1px;
    border-radius: 10px;
    width: 100%;
    margin: auto;
    border-top: 1px solid #b1b1b1;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    background: white;
    padding: 10px;
  }
  main .postroom .postbox .head {
    background: white;
    border-bottom: 1px solid #ababab;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  main .postroom .postbox .head .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .postroom .postbox .head .info .userinfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .postroom .postbox .head .info .userinfo img {
    margin: 5px 10px;
    width: 40px;
    border-radius: 50%;
  }
  main .postroom .postbox .head .info .userinfo p {
    font-size: 19px;
  }
  main .postroom .postbox .article p {
    padding: 10px;
    background: white;
    color: #4d4d4d;
    letter-spacing: 1px;
  }
  main .postroom .postbox .img {
    width: 100%;
  }
  main .postroom .postbox .img .imgbox {
    width: 100%;
  }
  main .postroom .postbox .img .imgbox img {
    width: 100%;
  }
  main .postroom .postbox .reactbox {
    padding: 5px 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .postroom .postbox .reactbox a {
    text-decoration: none;
    background: white;
    width: 30%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
  }
  main .postroom .postbox .reactbox .react {
    font-size: 20px;
    color: #4a4a4a;
  }
  main .postroom .postbox .reactbox .react span {
    color: dodgerblue;
  }
}
/*# sourceMappingURL=style.css.map */