@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 100Vh;
    max-width: 700px;
    margin: auto;
    padding: 20px;
}

.box {
    width: 90%;
    height: 100%;
    margin: auto;
    border: 1px solid black;
    border-radius: 5px;
}

header {
    display: flex;
    justify-content: left;
    align-items: center;
    background: rgb(255, 255, 255);
    height: 10%;
    padding: 0px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

a {
    width: 5%;
    text-decoration: none;
    font-size: 35px;
    color: black;
}

a svg {
    width: 100%;
}

img {
    width: 60px;
    border-radius: 50%;
    margin: 0px 10px;
}

.details span {
    font-weight: 600;
    color: rgb(63, 63, 63);
}

.details p {
    font-weight: 600;
    color: rgb(0, 148, 89);
}

.chatbox {
    overflow: auto;
    height: 80%;
    background: rgb(225, 225, 225);
    padding: 2px 10px;
}

.chat {
    margin: 10px 0px;
}

.outgoing .msg {
    display: flex;
    justify-content: right;
}

.outgoing .msg p {
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    line-height: 22px;
    padding: 10px;
    background: rgb(0, 125, 106);
    color: rgb(220, 220, 220);
    width: 60%;
}

.incoming .msg {
    display: flex;
    justify-content: left;
}

.incoming .msg p {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    line-height: 22px;
    padding: 10px;
    background: rgb(97, 97, 97);
    color: rgb(240, 240, 240);
    width: 60%;
}

form {
    height: 10%;
    padding: 5px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

input {
    width: 80%;
    font-size: 20px;
    outline: none;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    height: 90%;
    border: none;
    background: rgb(216, 216, 216);
    padding: 10px;
}

button {
    width: 70px;
    border: none;
    background: rgb(79, 79, 79);
    height: 90%;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

i svg {
    width: 50%;
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 500px) {
    .container {
        padding: 0;
    }
    .box {
        width: 100%;
        height: 100%;
    }
}